[submodule "src-nginx"]
	path = src-nginx
	# url = git@github.com:jakelime/docker-nginx.git
	url = https://github.com/jakelime/docker-nginx.git
[submodule "src-pgdb"]
	path = src-pgdb
	# url = git@github.com:jakelime/docker-postgresdb.git
	url = https://github.com/jakelime/docker-postgresdb.git
[submodule "src-gitbucket"]
	path = src-gitbucket
	url = http://n1-a697e7d4-01.stengggrp.local/gitbucket/git/transformations/gitbucket-docker.git
