services:

  nginx:
    restart: unless-stopped
    container_name: ${PROJECT_NAME}_nginx
    build:
      context: ./src-nginx
      args:
        url_docker: ${url_docker_index}
    environment:
      - NGINX_ENVSUBST_TEMPLATE_SUFFIX=.template
      - NGINX_ENVSUBST_TEMPLATE_DIR=/etc/nginx/templates
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx/conf.d
      - SHARED_DATA_DIR=${SHARED_DATA_DIR}
      - NGINX_LOG_FOLDER=${SHARED_LOGS_DIR}/nginx/
      - NGINX_STATIC_FOLDER=${SHARED_DATA_DIR}/www/static/
      - NGINX_MEDIA_FOLDER=${SHARED_DATA_DIR}/www/media/
      - NGINX_PORT_HTTP=${NGINX_PORT_HTTP}
      - NGINX_PORT_HTTPS=${NGINX_PORT_HTTPS}
      - GITBUCKET_PORT=${GITBUCKET_PORT}
      - GITBUCKET_PREFIX=${GITBUCKET_PREFIX}
    ports:
      - "${NGINX_PORT_HTTP}:${NGINX_PORT_HTTP}"
      - "${NGINX_PORT_HTTPS}:${NGINX_PORT_HTTPS}"
    volumes:
      - ./src-nginx/templates:/etc/nginx/templates
      - datashare:/datashare
      - appcache_nginx:/var/cache/nginx
    networks:
      - appnet

  pgdb:
    container_name: ${PROJECT_NAME}_pgdb
    restart: unless-stopped
    env_file:
      - ./src-pgdb/.env.docker
    build:
      context: ./src-pgdb
      args:
        url_docker: ${url_docker_index}
    ports:
      - "$PGDB_PORT:$PGDB_PORT"
    command:
      - postgres
      - "-p"
      - ${PGDB_PORT}
    volumes:
      # - dbdata_pgdb:/var/lib/postgresql/data # postgresql 17
      - dbdata_pgdb:/var/lib/postgresql/18/docker # postgresql 18
    networks:
      - appnet

  gitbucket:
    restart: unless-stopped
    environment:
      - GITBUCKET_DB_URL=jdbc:postgresql://pgdb:${PGDB_PORT}/gitbucket
      - GITBUCKET_DB_DRIVER=org.postgresql.Driver
      - GITBUCKET_PORT=${GITBUCKET_PORT}
      - GITBUCKET_PREFIX=${GITBUCKET_PREFIX}
    container_name: ${PROJECT_NAME}_gitbucket
    build:
      context: ./src-gitbucket
      args:
        url_docker: ${url_docker_index}
    env_file:
      - ./src-gitbucket/.env.docker
    volumes:
      - data_gitbucket:/gitbucket
    networks:
      - appnet

  drawio:
    image: ${url_docker_index}/jgraph/drawio:29.3.6
    container_name: ${PROJECT_NAME}_drawio
    restart: unless-stopped
    # environment:
    #   - DRAWIO_BASE_URL=https://${DEPLOY_HOSTNAME_DOMAIN_URL}/drawio/
    #   - DRAWIO_SERVER_URL=https://${DEPLOY_HOSTNAME_DOMAIN_URL}/drawio/
    ports:
      - 15080:8080
      - 25443:8443
    networks:
      - appnet

networks:
  appnet:


volumes:
  datashare:
  data_gitbucket:
  dbdata_pgdb:
  applogs:
  appcache_nginx:
